{#
/**
 * @file
 * Theme override to display a multicolumn-options.
 *
 * Available variables:
 * - total_columns: Maximum number of columns.
 * - options: The radio options array.
 * - max_rows: Number of maximum row per column.
 *
 * @see template_preprocess_block()
 */
#}

{% set width_size = 100 / total_columns %}
{% set row = 0 %}
<div class="multicolumn-options-wrapper clearfix">
  <div class="multicolumn-options-column" style="width: {{ width_size }}%; float: left">
    {% for option in options %}
      {{ option }}
      {% set row = row + 1 %}
      {# set the maximum row per column #}
      {% if row == max_rows %}
        </div>
        <div class="multicolumn-options-column" style="width: {{ width_size }}%; float: left">
        {% set row = 0 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
